In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("joyful-pandas/data/company.csv")
df.head(3)

   EmployeeID birthdate_key  age  city_name department      job_title gender
0        1318      1/3/1954   61  Vancouver  Executive            CEO      M
1        1319      1/3/1957   58  Vancouver  Executive      VP Stores      F
2        1320      1/2/1955   60  Vancouver  Executive  Legal Counsel      F

分别只使用 query 和 loc 选出年龄不超过四十岁且工作部门为 Dairy 或 Bakery 的男性。

In [18]:
df.query("(age <= 40)&(department == ['Dairy','Bakery'])&(gender=='M')").head(3)
# dpt = ['Dairy', 'Bakery']
# df.query("(age <= 40)&(department == @dpt)&(gender=='M')").head(3)

      EmployeeID birthdate_key  age city_name department     job_title gender
3611        5791     1/14/1975   40   Kelowna      Dairy  Dairy Person      M
3613        5793     1/22/1975   40  Richmond     Bakery         Baker      M
3615        5795     1/30/1975   40   Nanaimo      Dairy  Dairy Person      M

选出员工 ID 号 为奇数所在行的第1、第3和倒数第2列。

In [27]:
df.iloc[(df.EmployeeID%2==1).values,[0,2,-2]].head()

[False  True False ...  True False False]